@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-center">Product Catalog</h1>
    <p class="text-center">Explore our wide range of products</p>

 <div style="display:flex; flex-wrap:wrap">
            @foreach (var product in Model.Products)
            {
            <div class="col-md-4">
                <partial name="./Shared/_ProductCard" model="product"/>
            </div>
            }
    </div>
    <a href="/AddProduct" class="btn btn-primary fixed-bottom-right">Add Product</a>
</div>
